* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    width: 1000px;
    height: 1000px;
    background-color: rgb(127, 255, 212);
}

.box-2 {
    width: 200px;
    height: 200px;
    background-color: blueviolet;

    animation-name: circle-anime;
    animation-duration: 6s;
    animation-timing-function: linear;
    /* animation-delay: 2s; */
    animation-iteration-count: infinite;
    /* animation-play-state: ; */
    /* animation-fill-mode: ; */
    /* animation-direction: ; */
}

@keyframes left-right {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(800px, 0);
    }
}

@keyframes circle-anime {
    0% {
        transform: translate(0, 0);
        border-radius: 50%;
        background-color: blueviolet;
    }

    25% {
        transform: translate(800px, 0);
        border-radius: 0%;
        background-color: brown;
    }

    50% {
        transform: translate(800px, 800px);
        border-radius: 50%;
        background-color: green;
    }

    75% {
        transform: translate(0, 800px);
        border-radius: 0%;
        background-color: slategrey;
    }

    100% {
        transform: translate(0, 0);
        border-radius: 50%;
        background-color: chocolate;
    }
}

.box-5{
    margin: 50px 25px;
    width: 200px;
    height: 4px;
    background: linear-gradient(135deg, rgba(116, 203, 72, 0.2) 0%, rgba(164, 62, 158, 0.2) 100%);  
    margin-bottom: 222px;
    border-radius: 50px;
}

.box-6 {
    width: 100px;
    height: 4px;  
    background: linear-gradient(135deg, rgb(116, 203, 72) 0%, rgb(164, 62, 158) 100%);
    border-radius: 50px;    
}